<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='description' content='Find out how long it takes to watch every episode in a TV series. Customize the runtime by setting number of hours you spend every day, Search for your TV show. Add TV shows to bookmark.' />
    <title>Plan my binge! - Binge clock: Find how long does it take to watch any TV show</title>

    <meta property="og:title" content="Plan my binge! - Binge clock: Find how long does it take to watch any TV show">
    <meta property="og:site_name" content="Plan my binge">
    <meta property="og:url" content="https://planmybinge.com">
    <meta property="og:description" content="Find out how long it takes to watch every episode in a TV series. Customize the runtime by setting number of hours you spend every day, Search for your TV show. Add TV shows to bookmark.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://planmybinge.com/plan-my-binge.jpg">

    <meta name='keywords' content='binge clock, binge calculator, number of episodes, number of seasons, binge watching, binge-watch, binge watch calculator, time to watch, series time, binge calculator, how long does it take, how much time does it take, how much tv have i watched, marathon watch, tv shows, tv series counter, binge watch calculator, tv show calculator, tv news, tv show suggestions, movie marathon, movie marathons, complete series, every episode, tv shows like' />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">


    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/react@16.1.1/umd/react.development.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@16.1.1/umd/react-dom.development.js"></script>
    <script type="text/javascript" src="https://unpkg.com/redux@3.7.2/dist/redux.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-redux@5.0.6/dist/react-redux.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-router-dom@4.2.2/umd/react-router-dom.js"></script>

    <link rel="stylesheet" href="/bootstrap.mui.css" />

    <style> .loader{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);font-size:5rem;color:#777}@keyframes dot-keyframes{0%{opacity:.4}50%{opacity:1}100%{opacity:.4}}.loading-dots--dot{display:inline;animation:dot-keyframes 1.5s infinite ease-in-out}.loading-dots--dot:nth-child(2){animation-delay:.5s}.loading-dots--dot:nth-child(3){animation-delay:1s}</style>
  </head>
  <body>
    <div id="app">

      <div class="loader">
        crunching some numbers
        <span class="loading-dots--dot">.</span>
        <span class="loading-dots--dot">.</span>
        <span class="loading-dots--dot">.</span>
      </div>

    </div>
  </body>
</html>
