<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='description' content='Find out how long it takes to watch every episode in a TV series. Customize the runtime by setting number of hours you spend every day, Search for your TV show. Add TV shows to bookmark.' />
    <title>Plan my binge! - Binge clock: Find how long does it take to watch any TV show</title>

    <meta name='keywords' content='binge clock, binge calculator, number of episodes, number of seasons, binge watching, binge-watch, binge watch calculator, time to watch, series time, binge calculator, how long does it take, how much time does it take, how much tv have i watched, marathon watch, tv shows, tv series counter, binge watch calculator, tv show calculator, tv news, tv show suggestions, movie marathon, movie marathons, complete series, every episode, tv shows like' />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/muicss/0.9.41/css/mui.min.css" />
    <link rel="stylesheet" href="/bootstrap.purge.css" />

    <style>
      .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        color: #777777;
      }
    </style>
  </head>
  <body>
    <div id="app">

      <div class="loader">
        crunching some numbers..
      </div>

    </div>
  </body>
</html>
