textarea:focus, input:focus{
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

input {
  border: 0;
}

a {
  cursor: pointer;
}

a:link {text-decoration: none}


button:focus{
  outline:none !important;
}

html, body {
  height: 100%;
}